Repository Bboissen/Stashfi, changes with the labels that .github/labeler.yml gives for each.
All labels: api-gateway, kubernetes, helm, docker, go, github-actions, ci, documentation, tests, security, security-review, dependencies

.github/labeler.yml:

# Configuration for actions/labeler

# Service labels
api-gateway:
  - changed-files:
    - any-glob-to-any-file:
      - services/api-gateway/**

# Infrastructure labels
kubernetes:
  - changed-files:
    - any-glob-to-any-file:
      - infra/k8s/**
      - '**/*.yaml'
      - '**/*.yml'

helm:
  - changed-files:
    - any-glob-to-any-file:
      - infra/helm/**
      - '**/Chart.yaml'
      - '**/values.yaml'

docker:
  - changed-files:
    - any-glob-to-any-file:
      - '**/Dockerfile'
      - '**/.dockerignore'
      - docker-compose*.yml

# Language labels
go:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.go'
      - '**/go.mod'
      - '**/go.sum'

# CI/CD labels
github-actions:
  - changed-files:
    - any-glob-to-any-file:
      - .github/workflows/**
      - .github/actions/**

ci:
  - changed-files:
    - any-glob-to-any-file:
      - .github/**
      - .circleci/**
      - .travis.yml
      - azure-pipelines.yml

# Documentation labels
documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*.md'
      - docs/**
      - README.md
      - CONTRIBUTING.md
      - LICENSE

# Testing labels
tests:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*_test.go'
      - '**/testdata/**'
      - tests/**

# Security labels
security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/security.yaml'
      - '**/*secret*'
      - .github/workflows/security-scan.yml
      - .github/workflows/pr-secret-scan.yml

# Security review required - triggers secret scanning
security-review:
  - changed-files:
    - any-glob-to-any-file:
      - infra/**
      - '**/*.env*'
      - '**/.env*'
      - '**/config.yml'
      - '**/config.yaml'
      - '**/*credentials*'
      - '**/*password*'
      - '**/*token*'
      - '**/*key*'
      - .github/workflows/**

# Dependency labels
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/go.mod'
      - '**/go.sum'
      - '**/package.json'
      - '**/package-lock.json'
      - '**/Chart.yaml'
      - '**/requirements.txt'

feat(security): add security scanning and pre-commit hooks
  .gitleaks.toml
  .pre-commit-config.yaml
  scripts/check-docker-updates.sh
  scripts/setup-secret-scanning.sh
Labels: kubernetes, security

feat(api-gateway): enhance service with production-ready features
  services/api-gateway/Dockerfile
  services/api-gateway/README.md
  services/api-gateway/go.sum
  services/api-gateway/main.go
Labels: api-gateway, docker, go, documentation, dependencies

fix(kong): improve security configuration
  infra/helm/kong/values.yaml
  scripts/deploy-local.sh
Labels: kubernetes, helm, security-review

docs: add project documentation and development configuration
  .gitignore
  mise.toml
Labels: none

chore: Untrack docs folder
  .gitignore
Labels: none

chore: updated README
  README.md
  services/api-gateway/README.md
Labels: api-gateway, documentation

chore: updated README
  README.md
Labels: documentation

feat(ci): add pre-commit hooks and secret scanning │ │ configuration
  .gitleaks.toml
  .pre-commit-config.yaml
  PRE-COMMIT-SETUP.md
  scripts/setup-pre-commit.sh
  scripts/setup-secret-scanning.sh
Labels: kubernetes, documentation, security
